<nav class="relative container mx-auto p-6">
  <div class="flex items-center justify-between">
    <div class="pt-2">
      <a href="{{ site.url }}">
        <img
          src="{{ site.baseurl }}/assets/img/logo.svg"
          class="h-24 w-24 md:h-48 md:w-48"
        />
      </a>
    </div>
    <div class="hidden md:flex space-x-6">
      <a href="{{ site.baseurl }}/contact" class="hover:underline">Contact</a>
    </div>
    <button class="block hamburger md:hidden focus:outline-none" id="menu-btn">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
  <div class="md:hidden">
    <div
      class="absolute flex-col items-center self-end hidden py-4 mt-5 space-y-6 font-bold bg:white sm:w-auto sm:self-center left-6 right-6 border"
      id="menu"
    >
      <a
        href="{{ site.baseurl }}/contact"
        class="bg-transparent font-semibold py-2 px-4 border rounded-full cursor-pointer text-slate-700 border-slate-500 text-center"
        >Contact</a
      >
    </div>
  </div>
</nav>
